<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:fragment="head">
    <meta charset="UTF-8"/>
    <title th:text="${title}">Voter Engagement Web-App</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>

<div th:fragment="cookie" class="container">
    <dl>
        <dt>Currently stored address: </dt>
        <dd th:text="${addressCookie}">No address stored. Please enter below.</dd>
    </dl>
</div>

<nav th:fragment="nav2" class="navigation">
    <a href="/address/">Enter Address</a>
</nav>


<nav th:fragment="navigation" class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Voter Engagement App</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="/voter">Home</a></li>
            <li><a href="/elections">Elections</a></li>
            <li><a href="/candidates">Candidates</a></li>
            <li><a href="/news">News</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="/address/"><span class="glyphicon glyphicon-globe"></span> Enter Address</a></li>
        </ul>
    </div>
</nav>

<div th:fragment="cookiesbutton" class="container-fluid">
    <button type="button" class="btn" data-toggle="collapse" data-target="#cookie">Cookie Policy</button>
    <div id="cookie" class="collapse">
        Voter Engagement App uses cookies to store users' address. By using this website you consent to the use of cookies.
    </div>
</div>

</body>
</html>